apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: opendidac
  labels:
    app: keycloak
spec:
  type: LoadBalancer
  selector:
    app: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
